* {
 margin: 0;
 padding:0;	
}

html {
	background-color: #e2e2e2;
}



header {
	width: 100%;
	text-decoration-style: none;
	z-index: 10;
	background-size: cover;

}

/*nav bar*/
nav {
	margin: 0;
	position: fixed;
	top: 0;
	background-color: #e2e2e2;
	width: 100%;
	z-index: 10;
	display: inline-flex;
	justify-content: flex-end;
}

nav li {
 	color: brown;
	 font-family: Calibri, 'Trebuchet MS', sans-serif;
	 display: inline-flex;
}

nav a {
	float: right;
	text-decoration: none;
	font-size: 1.5rem;
	color: brown;
	padding: 3px 8px;
	margin: 0;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover {
	color: orange;
}

nav a:visited {
	text-decoration: none;
}

.portal {
	font-size: 1.5rem;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	text-decoration:none;
	background-image: linear-gradient(#D9342E, #822B14);
	padding: 2px 10px;
	float: right;
}

.navlink {
	color: white;
}


.portal:hover {
	color: orange;
}

/*body*/
.heroimage {
	width: 100%;
	height: auto;
}

h1 {
	font-family: Bahnschrift;
	font-weight: bold;
	color: #FFA31C;
	font-size: 3rem;
	text-shadow: 1px 2px #A25B1C;
}

/*About section- rotate*/
.About {
	padding-top: 2rem;
	color: #ffffff;
	background-image: linear-gradient(#D9342E, #822B14);
	font-family: arial;
	font-size: 1.25rem;
	padding-left: 20px;
	display: inline-flex;
	flex-direction: row;
	flex-grow: 1;
	align-content: center;
	min-height: 25rem;
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.about h1 {
	padding-top: 1rem;
}

.abouthead {
	writing-mode: vertical-lr;
	text-orientation: sideways;
	transform: rotate(180deg);
	align-self: center;
	margin-top: 0em;
}

#aboutp {
	align-self: center;
	justify-self: center;
	padding: 2rem;
}


#DK {
	width: auto;
	height: 25rem;
}


/* Services */
.Services {
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem;
	background-image: url('imgs/bgservice.jpg');
	background-size: cover;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.Services h1 {
	padding-top: 1rem;
}

.Services li{
	list-style-type: circle;
	margin-left: 5%;
}
.sub {
	font-size: 1rem;
	font-family: sans-serif;
	margin-left: 3%;
	margin-right: 5%;
}

#gallery-place {
	width: 100%;
	height: auto;
	display: block;
}
/*wuote- format form - validate w JS send w PHP*/
.quote {
	font-family: arial;
	color: #ffffff;
	font-size: 1.25rem;
	background-image: linear-gradient(#D9342E, #822B14);
	text-align: center;
	margin: 0;
	border: 0;
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.quote h1 {
	padding-top: 1rem;
}

form {
		overflow: hidden;
	}
	 
	 
input {
		width: 200px;
	}

	#notes {
		margin-top: 1rem;
	}
#submit {
	display: block;
	margin-left: 41%;
	margin-top: 3rem;
	clear: both;
}
/* order - p breaks */
.order {
	padding-top: 4rem;
	background-color: #e2e2e2;
	font-size: 1.5rem;
	color: black;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	padding-bottom: 3rem;

}
.order h1 {
	float: right;
	background-color: #e2e2e2;
	margin-top: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
	transform: rotate(20deg);
}

.order p {
	float: left;
	background-color: #e2e2e2;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 2rem;
	display: block;
}

.buttons {
	display: inline;
	text-decoration: none;
	margin-left: 30%;
}
.buttons a {
	text-decoration: none;
}
.orderbutton {
	background-image: linear-gradient(#FC9C1C, #B42A26);
	border: 1px #B42A26;
	text-align: center;
	margin: 20px;
	padding: 6px 20px;
	width: 220px;
	height: 80px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	color: #ffffff;
	font-size: 1.75rem;
	text-decoration: none;
	border-radius: 4%;
}

.orderbutton:hover {
	background-image: linear-gradient(#d10d07, #5a1a18);
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}



/* contact - move number and email to top right, change bg, more white space */
.contact {
	background-image: linear-gradient(brown, #471c1c);
	color: white;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem;
	padding-top: 2rem;
}

.contact h1 {
	padding-top: 1rem;
}
.contact a {
	text-decoration: none;
	color: #FFA31C;
	float: right;
}

.contact a:hover {
	color: white;
	cursor: pointer;
}

.contact p {
	display: block;
	clear: both;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.button {
	background-image: linear-gradient(#FC9C1C, #B42A26);
	border: 1px #B42A26;
	text-align: center;
	margin: 20px;
	display: table-cell;
	vertical-align: middle;
	padding: 6px 20px;
	width: 220px;
	height: 80px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	color: #ffffff;
	font-size: 1.75rem;
	text-decoration: none;
	border-radius: 4%;
}

#order {
	float: right;
}

.button:hover {
	background-image: linear-gradient(#d10d07, #5a1a18);
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
/*fix fonts, social media link and icon, bg */
.footer {
	height: 2rem;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem;
	position: fixed;
	background-image: linear-gradient(#5a1a18, #000);
	color: white;
	text-decoration: none;
	float: center;
}

#social {
	float: right;
	text-decoration: none;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem;
}